.rightBar {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.miniNotification {
  margin: 20px 16px;
  height: 170px;
  border-radius: 10px;
  display: flex;

  -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
  flex-direction: column;
}
.line {
  margin: 20px;
}
.birthday {
  display: none;
}
.imgMutualFriend {
  flex: 1;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: -10px;

  border: solid;
  border-color: white;
}
.top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 10px;
}
.imgMutualFriends {
  margin-left: 20px;
}
.friendRequest {
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  align-content: center;
}
.friend {
  flex: 1;
  border-radius: 50%;
  height: 46px;
  width: 46px;
}
.friendName {
  margin-left: 10px;
  font-weight: 800;
  font-size: 100%;
}

.middleTop {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 0px 10px;
}
.info {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divimg {
  width: 60px;
  height: 60px;
}
.friendRequestTime {
  flex: 1;
}
.contactButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactstitle {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Rightads {
  height: 100px;
  margin: 10px;
}
.Rightad {
  height: 100px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
}
