@import "../../variables.css";

.topmenuContainer {
  height: 56px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.37);
}
.topmenuLeft {
  flex: 2;
  display: flex;
  margin-left: 5px;
  gap: 5px;
}

.topmenuCenter {
  display: flex;
  flex: 4.5;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menuItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: inherit;
  max-width: 111px;
  border-radius: 6px;
}
.menuItem:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}
.menuIcon {
  stroke: black;
  font-size: 1.5em;
}
.topmenuRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topmenuLinks {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.active {
  fill: blue !important;
  stroke: blue !important;
  background-color: grey;
}
.topmenuIcons {
  display: flex;
  justify-content: space-around;
}
.topmenuIconItem {
  display: flex;
  margin-right: 15px;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  align-items: center;

  border-radius: 50%;
  background-color: VAR(--color-secondary);
}

.logo {
  font-size: 35px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 39.9px;

  background-image: linear-gradient(
    to top,
    var(--color-darkblue),
    var(--color-primary)
  );
  align-items: baseline;
  justify-content: center;
}
.search {
  display: flex;
  border-radius: 40px;
  width: 80%;
  height: 40px;
  background-color: var(--color-secondary);
  align-items: center;
  justify-content: center;
}
.topmenuIconValue {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar {
  width: 80%;
  height: 30px;
  background-color: var(--color-secondary);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.SearchIcon {
  font-size: 12px !important;
  margin-left: 5px;
}

.searchInput {
  border: none;
  width: 80%;
  background-color: unset;
}
.searchInput:focus {
  outline: none;
}
.profilepic {
  width: 30px;

  height: 30px;
  border-radius: 50px;
  object-fit: cover;
}
.messenger {
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 999;
}
.friendrequest {
  position: absolute;
  right: 100px;
  top: 40px;
  z-index: 999;
}

@media screen and (max-width: 1240px) {
  .search {
    display: flex;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-secondary);
    align-items: center;
    justify-content: center;
  }
  .searchInput {
    display: none;
  }
}
