.leftBar {
  flex: 2;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
  padding: 5px;
}
::-webkit-scrollbar-track {
  background-color: none;
  border: 0px 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1;
  border: 0px 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border: 5px solid transparent;
  border-radius: 16px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  border: 5px solid transparent;
  border-radius: 16px;
  background-clip: content-box;
}
.leftWrapper {
  padding: 20px;
}
.leftmenu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.leftListItems {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.listICon {
  margin-right: 10px;
}
.leftbarButton {
  width: fit-content;
  align-items: center;
  color: white;
  padding: 8px;
  margin: 2px;
  border-radius: 8px;
  background-color: #1877f2;
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.leftbarHr {
  margin: 20px 0;
}

.leftbarFriendsList {
  list-style: none;
}
