.stories {
  border-radius: 10px;
  margin: 20px 0px 16px;
  display: flex;
  align-items: end;
  height: 293px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.37);
  position: relative;
  width: 100%;
}
.storiesTray {
  background-color: white;
  display: flex;
  height: 216px;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: scroll;
  border-top: 2px solid var(--color-secondary);

  align-items: center;
}
.storiesTray::-webkit-scrollbar {
  display: none;
}
.storyContainer {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6px;
  margin-left: 6px;
}

.story,
.userStory {
  width: 112.5px;
  height: 200px;
  position: relative;
}
.buttons {
  font-size: 20px;
}
.previousItems,
.nextItems {
  position: absolute;
  background-color: whitesmoke;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 50%;
}
.nextItems {
  right: 24px;
}
.previousItems {
  left: 24px;
}
.displayNone {
  display: none;
}
.profilePics,
.userPic {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.profilePics img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePics img:hover {
  filter: brightness(90%);
  transform: scale(1.03);
}
.friendPic {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  top: 8px;
  left: 8px;
}

.friendPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 3px;
  border-color: var(--color-primary);
}
.userStory {
  display: flex;
  flex-direction: column;
}
.userPic {
  height: 75%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.actionButton {
  text-align: center;
  height: 25%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.requestButton {
  display: flex;
  align-items: center;

  gap: 1rem;
}
