.storyEditor {
  width: 100%;
  height: 90vh;

  display: flex;
}
.leftmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}
.buttom,
.top {
  height: 20%;
  display: flex;
  flex-direction: column;
}
.maincontent {
  display: flex;
  height: 80%;
}
.profileImage {
  border-radius: 50%;
  width: 50px;
  background: green;
}
.outerContainer {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadimage,
.addtext {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
}

.uploadimage,
.addtext {
  background: linear-gradient(
    196deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 27%,
    rgba(0, 212, 255, 1) 100%
  );
}
.addtext {
  background: linear-gradient(196deg, rgb(161, 69, 203), rgb(210, 78, 135));
}

.uploadimage > div {
  background-color: inherit;
  border: none;
}
.maincontent {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.label {
  width: 100%;
  height: 100%;
}
.story {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 85%;
  padding: 20px;
  padding-top: 40px;
  border-radius: 6px;
  background-color: white;
}

.storyImageContainer {
  border-radius: 6px;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}
.storyImage {
  border-radius: 4px;
  object-fit: cover;
  width: 30%;
  height: 95%;
  border: solid 0.5px white;
}

.innerContainer {
  background: white;
  height: 100%;
  display: flex;
}
.createStory {
  display: flex;
  gap: 0.3rem;
}
.createStory > button {
  padding: 5px 15px;
  border-radius: 4px;
  min-width: 40%;
  cursor: pointer;
  border-color: grey;
  background-color: grey;
}

.discard {
  background-color: var(--color-lightgrey);
}
.shareStory {
  background-color: var(--color-primary);
}
