.container {
  display: grid;
  z-index: 100;
  /* grid-template-columns: 150px, 150px; */
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  -auto-rows: minmax(auto, 200px);
  gap: 4px;
  align-items: stretch;
  justify-content: stretch;
  height: 300px;
  /* width: 100%; */
}

.column2 {
  grid-template-columns: 1fr 1fr;
}
.row {
  grid-template-rows: 1fr 1fr;
}

.column3 {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.row3 {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.row3:nth-child(1) {
  grid-column: span 2;
}
.column3:nth-child(1) {
  grid-column: span 2;
}

.gridImage {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.image {
  height: 200px;

  border-radius: 3px;
  background-color: red;
}
