@import "../../variables.css";
.shareContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #fff;
  max-height: 450px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: auto;
}
.shareWrapper {
  margin: 0px 20px;
}
.title {
  height: 60px;
  text-align: center;
  border-bottom: 1px solid var(--color-secondary);

  font-weight: 700;
  font-size: 1.7em;
}
.userInfo {
  padding: 16px 0px;
  height: 40 px;
  display: flex;
}
.input {
  width: 80%;
  border: none;
  height: 31px;
  outline: none;
  padding-bottom: 16px;
}

.input::placeholder {
  font-size: 18px;
  color: rgb(179, 177, 177);
}
.shareImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}
.details {
  display: flex;
  flex-direction: column;
}
.photoUpload {
  height: 222px;
  border: 1px solid rgb(180, 177, 177);
  border-radius: 10px;
  padding: 8px;
  position: relative;
}
select {
  background-color: var(--color-secondary);
  outline: none;
  border-radius: 3px;
}

.drag {
  background-color: rgba(225, 226, 228, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 6px;
}
.dragElement {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.white {
  background-color: var(--color-secondary);
  opacity: 60%;
  pointer-events: none;
}

.button {
  width: 100%;
}
.fileUpload {
  display: none;
}
.label {
  display: block;
  width: 100%;
  height: 100%;
}
.display {
  position: absolute;
  z-index: 10;
  /* width: 100%; */
  height: 500px;
}
